/**************************************************
 * HTML Tag
 *************************************************/
body {
	margin: 0px;
	background-color:#FFFFFF;
}

body,td,ul,ol,dd {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	color: #333333;
}

input,textarea {
	background-color: #DDDDDD;
	color: #222222;
	border-width: 1px;
	border-color: black;
}

li {
	padding: 1pt;
}

h1{
	margin:0px;
}

h2{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	color: #55555;
	font-weight: bold;
	
	padding: 5px;
	margin-top:20px;
	background-color:#E6E6E6;
	width:720px;
	border-left: solid #44258D 2px;
}

h3{
	font-size: 13px;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	color: #55555;
	font-weight: bold;
	
	padding: 5px;
	margin-top:20px;
}

dt{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-style: normal;
	line-height: 15px;
	font-weight: normal;
	font-variant: normal;
	color: #55555;
	font-weight: bold;
	
	margin: 10px;
}

dd{
	width: 600px;
	padding-bottom: 13px;
}

/**************************************************
 * Original
 *************************************************/

div.contents{
	margin: 10px;
}

div.frame_article{
	border: solid 1px #333333;
	margin: 10px;
	width: 700px;
}

div.article{
	margin: 10px;
	width: 700px;
}

div.abstract{
	margin: 10px;
	width: 700px;
}

div.lastupdate{
	font-size:8pt;
	color: #AAAAAA;
	text-align: right;
	width: 700px;
	padding-bottom: 20px;
}

div.link{
	width: 750px;
	text-align: right;
	margin:1px;
}

/**************************************************
 * Anchor
 *************************************************/

a:link {
	color: #44258D;
}

a:hover{
	color: #44258D;
	background-color: #DDDDDD;
}

a:visited{
	color: #8C2633;
}

