/* Around contents table */
div.lv1 {

	margin-left: 10px;
	margin-top: 5px;
}

.bold {
	font-weight: bold;
}

/* subject description */
div.description {
	margin: 3 10 6 8;
	font-size:10pt;
}

/* Each title */
.engfont {
	color: #FFFFFF;
	font-weight: bold;
	font-size: 11pt;
	letter-spacing: 2px;
	font-family: "Verdana", "Arial";
}

/* copyright */
.copyright {
	width: 100%;
	color: #FFFFFF;
	background-color:#85a9b5;
	font-family: "Verdana", "Arial";
	font-size: 8pt;
}

.box_title{
	font-weight: bold;
	background-color: #DDDDDD;
}

/* about hyper text */
a:link { text-decoration: underline;}
a:visited { text-decoration: underline;}
a:hover { text-decoration: none;;}
a:active { text-decoration: underline;}

/* basic enviroment */
td.menu { font-size: 8pt; font-family: "Verdana", "Arial";}
.line_title {  font-family: "Arial", "Helvetica", "sans-serif"; font-weight: bold; color: #FFFFFF; font-size: 14px}
body,td {  font-size: small; line-height: 115%; }
.indent {  margin-top: 10px; margin-left: 20px}
.notice {  font-weight: bold; color: #CC6633; font-size: large}
